p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
}

.pl p{
    font-family: Comic Sans MS;
    background-color: aqua;
    text-align: center;
    text-indent: 20px;
}